# This is a sample .gitignore file for a Python project

# Python bytecode files
*.py[cod]

# Backup files
*.bak

# Local environment files
.vscode/
.flake8
.pylintrc
.env
.venv/
.prefect/

# Cache files
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/

# temporary files
.hypothesis/

# Local configuration files
local.*